# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
*.tlog
*.log
*.pdb
*.exe

# IDE
enc_temp_folder/
*.vspscc
.vs/

# Misc
*.d
*.slo
*.lo
*.o
*.obj
*.mod
*.smod

# Project specific
/PopcapTools/projects.txt
/SexyAppFramework/Debug
/SexyAppFramework/Release